@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Montserrat', sans-serif !important;
}
/*authentication pages*/
body{
    background: url("https://t4.ftcdn.net/jpg/06/84/15/61/360_F_684156133_Ul66qNO45QevDrQ3d6H97WrgiZtZt2L9.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}


input{
    border-radius: 2px !important;
    border: 1px solid hsl(128, 128, 128, 0.521) !important;
    height:40px !important;
}
input.focus, .antd-picker{
    outline:none !important;
    box-shadow:none !important;
    border: 1px solid rgb(63, 63, 63) !important;
}
label{
    font-size:16px !important;
    color : #044f61f0;

}
.ant-form-item{
    margin: 10px 0 !important;
}
.ant-picker-input{
    border: none !important;
}
.antd-picker{
    height: 40px !important;
}
.spinner-parent{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    opacity:0.8;
    background-color:black;
    position: fixed;
    top:0;
    left:0;
    width :100%;
    height: 100%;
    z-index:9999;
}
.spinner-border{
    width: 5rem;
    height: 5rem;
    color:white !important;
}
.page-title{
    font-size: 30px;
    color: #000000a5;
    font-weight:bold;
}

.card-title {
    font-size:22px;
    font-weight:bold;
    color: rgba(0, 0, 0, 0.567);
    
}
.normal-text{
    font-size:1rem;
}
.card{
    box-shadow: 0 0 2px grey;
    border-radius: 0 !important;
}
.primary-button{
    background:linear-gradient( 80deg,#03303bf0,#08708af0, #1f9fc0f0) ;
    border-color: #034a5bf0;
    height:40px !important;
    width:100% !important;
    color:rgb(3, 3, 3) !important;
    font-size:18px !important;
    width: max-content !important;
    font-weight:bold;
    margin-right: 70px !important;
    margin-bottom: 150px !important;
    
}



.anchor{
    color:black !important;
    text-decoration:underline;
    cursor: pointer;
    font-size: 16px !important;
}
.anchor:hover{
    text-decoration: underline !important;
}
.authentication{
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content:center;
    background-color: #08708af0;
    background: url("https://t4.ftcdn.net/jpg/06/84/15/61/360_F_684156133_Ul66qNO45QevDrQ3d6H97WrgiZtZt2L9.jpg")
    no-repeat;
    width: 100%;
    background-size: cover;
    background-position:center;
}
.authentication-form{
    width: 400px;
    
}
.authentication .card-title{
    font-size: 1.5rem;
    font-weight: bold;
    background-color:#08708af0;
    color:rgb(46, 45, 45) !important;
    max-width:max-content !important;
    padding: 7px 30px !important;
    margin-left: -40px !important;
    border-bottom-left-radius: 10px !important;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .article {
    flex: 1;
    padding-right: 20px;
  }
  
  .image img {
    max-width: 100%;
    height: auto;
  }
  .welcome h1{
    margin-left: 20px !important;  
    
  }
  .article h6{
    margin-left: 20px !important;
  }
  
  .button{
    
    background:linear-gradient( 80deg,#03303bf0,#08708af0, #1f9fc0f0) ;
    font-family: ' monospace';
    margin-left: 20px;
    color: rgb(255, 255, 255) !important;
    border-radius: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  }
button:hover .stars {
    filter: drop-shadow(0 0 10px #fffdef);
}


 .search{
    margin-left: 780px;
    width:300px ;
    padding: 5px;
    border-radius: 60px;
 }
